:root {
  --frame-colour: #00643b;
  --background: #00a658; 
  --tertiary: #97d700;
  --link-colour:#00a658;
  --white: #fff;
  --spacingBase: 1rem;
}

html {
  scroll-padding-top: 8rem;
}

h1, h2, h3 {
  text-wrap: balance;
}

h1 {
  line-height: 1;
}

main .container {
  padding: 1.5rem 0;

  @media screen and (min-width: 768px) {
    padding: .5rem 0 1.5rem;
    
  }
}

a:not([id]):not([class]) {
  color: var(--tertiary);

  &:hover {
    text-decoration: none;
  }
}

.select-wrap {
  position: relative;
  display: flex;
  max-width: max-content;
  margin-inline: auto;

  select {
    appearance: none;
  }

  svg {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.frame {
  background-color: var(--frame-colour);
  border-radius: 12px;

  .frame-content {
    color: var(--white);
    z-index: 1;
    position: relative;

    h1 {
      font-weight: 600;
    }

    #results-heading {
      margin-top: 1.5rem;
    }
    
    @media (min-width: 768px) {
      padding: 1.5rem 1.5rem .5rem;
    }
  }
}

.frame__heading {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  line-height: 1.25;
}

.frame__intro {
  h1 {
    font-weight: 600;
  }
  
  p {
    font-size: 1.25rem;
    margin-block: 1.5rem;

    a,
    button {
      color: #fff;

      &:hover {
        text-decoration: none;
      }
    }

    button {
      appearance: none;
      background-color: transparent;
      border: 0;
      text-decoration: underline;
      padding: 0;
    }
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 5px;
  border-radius: 1rem;
}

.hero h1 {
  margin-bottom: 1.5rem;
}

.heroWithImage {
  position: relative;
  text-align: center;
  color: var(--white);
  margin-bottom: 1.5rem;

  img {
    max-height: 600px;
    object-fit: cover;
  }

  /* Bottom left text */
  h1 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
}

.page-navigation {
  margin-top: var(--spacingBase);
}

.page-navigation__number {
  margin-bottom: 0;
  color: var(--white);
  
  @media screen and (min-width: 768px) {
    color: var(--tertiary);
  }
}

.btn {
  margin-block: 1rem;
  font-weight: 600;
  font-size: 20px;
  padding: .75rem 1rem;
  width: max-content;

  &--white {
    background-color: var(--white);
    color: var(--tertiary);
  }
}

.nav-right__container {
  display: flex;
  align-items: center;
}

.main-nav__language {
  font-size: 2.25rem;
  max-width: max-content;

  select {
    padding: 0;
  }

  .select-wrap svg {
    right: 0;
    max-width: 18px;
  }
}

.navbar-toggler {
  margin-right: -2.5rem;
}


.navbar.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #00a658; /* #00643b; Green Party Green */
  border: none;
  display: flex;
  align-items: flex-start; /* Keeps nav items at the top */
  z-index: 1000;

  /* The "Smooth Wave" Magic */
  /* We use a mask to hide the bottom area in a curve */
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1440 320" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"><path d="M0,0 L1440,0 L1440,200 C1080,150 360,250 0,200 Z" fill="black"></path></svg>');
  mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1440 320" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"><path d="M0,0 L1440,0 L1440,200 C1080,150 360,250 0,200 Z" fill="black"></path></svg>');
  mask-size: 100% 120%;
  -webkit-mask-size: 100% 120%;
  mask-repeat: no-repeat;

  /* Increase this height to stop the "squashed" feeling */
  min-height: 120px;
  
  
}



.nav-link {
  display: block;
  /* First value (40px) controls vertical space inside the link */
  /* Second value (25px) controls space between links */


  color: #ffffff !important;
  text-decoration: none !important;
  font-weight: 900;
  font-size: 1.1rem;
  transition: background 0.2s ease;
}

/* app/components/Header.css */

.nav-link:hover,
.nav-link.active {
  background-color: #fcb900 !important; /* Brandy Yellow */
  color: #00643b !important;
}
.article-inline-image {
  margin-block: 1rem;
}

@media (max-width: 768px) {
  .container {
    padding-inline: 1rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .frame__heading {
    margin-block-start: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .article-inline-image {
    max-width: 320px;
    margin-block: 10px;
    margin-left: 1rem;
  }

  .navbar-toggler {
    margin-right: 0;
    margin-left: auto;
  }
}

@media screen and (min-width: 968px) {
  .main-nav {
    flex: 1;
    align-items: center;
  }

  .navbar-collapse {
    order: 1;
  }

  .main-nav__language {
    margin-left: auto;
    order: 2;

    select {
      padding-right: 15px;
      font-size: 1.5rem;
    }

    .select-wrap svg {
      max-width: 25px;

    }
  }

  .article-inline-image {
    float: right;
  }
}

@media screen and (min-width: 1220px) {
  .article-inline-image {
    max-width: 400px;
  }
}