.register-form {
    > div + div {
        margin-top: 1rem;
    }

    label {
        display: block;
        font-weight: 600;
        margin-bottom: .5rem;
    }

    input,
    textarea {
        color: var(--tertiary);
        min-height: 44px;
        padding-inline: 5px;
        width: 100%;
    }

    input,
    textarea {
        border-radius: 8px;
        border: 2px solid var(--tertiary);
    }
}
.reg-video
{
    

}

.form-container {
    display: flex;

    margin: 20px auto; /* Center the container */
    border: 1px solid #ccc; /* Optional: Add a border for visual separation */
    padding: 10px;
    
}

.form-left, .form-right {
    flex: 1; /* Equal width for both forms */
    padding: 10px;
    box-sizing: border-box;

}

.vertical-rule {
    border-left: 1px solid #ccc; /* Vertical rule */
    margin: 0 10px; /* Spacing around the rule */
}


@media screen and (min-width: 768px) {
    .register-form {
        max-width: 50%;
    }
}