.password-gate {
    display: grid;
    place-items: center;
    height: 100vh;
}

.password-form {
    margin-top: 1.5rem;

    > * + * {
        margin-top: 1rem;
    }

    label {
        display: block;
        font-weight: 600;
        margin-bottom: .5rem;
    }

    input {
        color: var(--tertiary);
        min-height: 44px;
        padding-inline: 5px;
        width: 100%;
    }

    input {
        border-radius: 8px;
        border: 2px solid var(--tertiary);
    }
}   